html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Arial', sans-serif;
  background-color: #e0f7fa;
  color: #00796b;
}

header {
  text-align: center;
  background-color: transparent;
  color: #009688;
  padding: 20px;
  margin-top: 80px;
  position: relative;
  z-index: 2;
  margin-bottom: 20px;
}

header h1 {
  margin: 0;
  padding-top: 30px;
}

main {
  padding: 20px;
  background-color: #e0f2f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.intro, .features, .story, .co-founders, .contact {
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  margin-left: 400px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #ffffff;
  text-align: left; 
  box-sizing: border-box;
}

.features ul {
  list-style: none;
  padding: 0;
}

.features li {
  margin-bottom: 10px;
}

.co-founders .founder {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.co-founders img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.co-founders .info {
  flex: 1;
}

.founder img {
  width: 100%;
  max-width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}




